.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-dark);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 5vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  height: 50px;
}

.navLink {
  color: white;
}
